<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    
    <section>
        <h2>User Information</h2>
        <p><strong>Name:</strong> <%= qrData.name %></p>
        <p><strong>Phone:</strong> <%= qrData.phone %></p>
        <p><strong>Car Number Plate:</strong> <%= qrData.numberplate %></p>
        <p><strong>Car Name:</strong> <%= qrData.carname %></p>
    </section>
</body>
</html>
